# Node.js
node_modules/
dist/
coverage/
logs/

# TypeScript
*.tsbuildinfo
*.ts
*.js

# IDE
.vscode/
.idea/

# Mac
.DS_Store

Thumbs.db

*.log

package-lock.json

# Jest
jest.config.js


.env

]coverage/
